<%- include('./partials/head.ejs') -%>

<!-- Main -->
<main>

    <section class="faq-header">
        <h2>welkom bij de faq pagina</h2>
        <p>Heb je een vraag? Kijk hieronder of je vraag er tussen staat.</p>
        <button>Contact ons</button>
        <button>De hallen</button>
        <button>Over ons</button>
    </section>


<!-- FAQ -->
    <section class="faq-lijst">
        <h1>FAQ</h1>
        <p>Heb je een vraag? Kijk hieronder of je vraag er tussen staat.</p>
    </section>

 <!-- FAQ -->
    <section>
        <h2>Wat is Amsterdam West Community?</h2>
        <p>Amsterdam West Community is een platform waarop buurtbewoners initiatieven kunnen plaatsen en bekijken. Zo kunnen buurtbewoners elkaar helpen en inspireren.</p>
    </section>
<!-- FAQ -->
    <section>
        <h2>Hoe kan ik een initiatief plaatsen?</h2>
        <p>Je kunt een initiatief plaatsen door naar de pagina 'Plaats een initiatief' te gaan en het formulier in te vullen. Je kunt hierbij aangeven of je een vraag hebt of een aanbod.</p>
    </section>
<!-- FAQ -->
    <section>
        <h2>Hoe kan ik contact opnemen met Amsterdam West Community?</h2>
        <p>Je kunt contact opnemen met Amsterdam West Community door een e-mail te sturen naar
    <section>
        <h2>Waar kan ik meer informatie vinden over De Hallen?</h2>
        <p>Je kunt meer informatie vinden over De Hallen op de website van De Hallen: <a href="https://dehallen-amsterdam.nl/">dehallen-amsterdam.nl</a></p> 
    </section> 
    
    





</main>

